p {
  color: black;
}

a:link, a:hover, a:active, a:visited {
  color: black;
  text-decoration: none;
}

.menu-styling {
  margin-bottom: 50px;
}

.img-spacing {
  margin-bottom: 20px;
}

.row::before, .row:: {
  display: inline-block;
}

/* HTML ELEMENTS */
/*body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  text-decoration: none;
}*/
